.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  padding: 2rem 0;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
