/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.main {
  padding-bottom: 3rem;
}

.heroBanner {
  --frame-distance: 30px;
  --frame-width: 2px;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  position: relative;
}

.frame {
  position: absolute;
  border: var(--frame-width) solid white;
  top: var(--frame-distance);
  bottom: var(--frame-distance);
  left: var(--frame-distance);
  right: var(--frame-distance);
}

.krakowLogo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000;
  width: 180px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.button:hover,
.button:active {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.subtitle {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.callToAction {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  background-color: var(--ifm-color-primary);
}

@media screen and (max-width: 996px) {
  main.main {
    padding-bottom: 1rem;
  }

  .heroBanner {
    --frame-distance: 16px;
    --frame-width: 2px;
    padding: 2rem;
  }

  div.buttons {
    grid-template-columns: 1fr;
  }

  img.krakowLogo {
    width: 80px;
  }
}
