/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.main {
  padding-bottom: 3rem;
}

.heroBanner {
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  position: relative;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.button:hover,
.button:active {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.subtitle {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.callToAction {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  background-color: var(--ifm-color-primary);
}

/* Cards */

.cardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 2rem 0;
}

.card {
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid var(--ifm-color-primary);
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card > img {
  display: block;
}

.card article {
  margin-bottom: 0 !important;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card article .markdown {
  flex: 1;
  background-color: red;
}

.card article footer {
  margin-top: auto !important;
  width: 100% !important;
  padding: 1rem 0;
}

.card article footer > div {
  padding: 0;
}

.card h2 {
  font-size: large;
}

@media screen and (max-width: 996px) {
  main.main {
    padding-bottom: 1rem;
  }

  div.buttons {
    grid-template-columns: 1fr;
  }

  .cardList {
    grid-template-columns: 1fr;
  }
}
