.frame {
  --frame-distance: 30px;
  --frame-width: 2px;
  --krakow-logo-width: 150px;
  position: relative;
  padding: 2rem;
  border: var(--frame-width) solid white;
  margin: var(--frame-distance);
  width: 100%;
}

.krakowLogo {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--krakow-logo-width);
}

@media screen and (max-width: 996px) {
  div.frame {
    --frame-distance: 16px;
    --frame-width: 2px;
    --krakow-logo-width: 80px;
  }
}
