.noticeBanner {
  background-color: #df84df;
  padding: 0.75rem 1rem;
  text-align: center;
  border: solid #cf73cf;
  border-width: 2px 0;
}

[data-theme='dark'] .noticeBanner {
  background-color:  var(--ifm-color-primary-light);
  border-color:  var(--ifm-color-primary-dark);
}

.noticeText {
  margin: 0;
}

.noticeText > a {
  color: #000000;
}
